h1 {
    color: blue;
    background-color: yellow;
    border: 1px solid black;
  }
  
  p {
    color: red;
  }
  .box {
    margin: 30px;
    width: 100px;
    height: 100px;
    border: double 22px pink;
    background-color: rebeccapurple;
    transform: translate(12px, 50%);
  }