h1 {
    color: blue;
    background-color: yellow;
    border: 1px solid black;
  }
  
  p {
    color: red;
  }
  .box {
    margin: 30px;
    width: 100px;
    height: 100px;
    border: double 22px pink;
    background-color: rebeccapurple;
    transform: translate(12px, 50%);
  }

  span{
    color: lemonchiffon;
    font-size: 45px;
  }
  #spisok {
    width: 400px;
    height: auto;
    background-color: pink;
  }
  .purple {
    background-color: rebeccapurple;
  }
  li {
    background-color: rebeccapurple;
  }