/*#C7D4DA
#97BEC3
#7B8B8B
#F0F2F1
#292929*/

html{
  margin: 0;
  font-family: 'Prata', serif;
/*font-family: 'Roboto', sans-serif;*/
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
 font-size: 18px;
}
/* Main Header cont 1*/
.cont1{
  margin: 0;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  
  flex-flow: wrap row;
}

.leftSide1, .rightSide1 {
  width: 50%;
  display: flex;
  box-sizing: border-box;
  flex-flow: nowrap row;
  justify-content: space-around;
  padding: 20px;
}
.one1{
  background-color: #7B8B8B;
  width: 25%;
  text-align: center;
}
.one1 a , .two2 a{
  color: white;
  text-decoration: none;
}
.two2{
  background-color: #97BEC3;
  width: 25%;
  text-align: center;
}
.three3{
  background-color: #F0F2F1;
  width: 25%;
}
.four4 {
  background-color: #C7D4DA;
  width: 25%;
}